.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color_01;
  color: white;
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header_height;

}

.Header__left{
  display: flex;
}

.Header__menu {
  padding: calc((#{$header_height}  - #{$header_menu_button_height}) /2) 1rem;
  &:hover{
    background: lighten($color_01, 20%);
    cursor: pointer;
  }
}

.Header__menu img{
  height: $header_menu_button_height;
}

.Header__title{
  margin: auto;
  padding-left: 2rem;
}



.Header__right{
  display: flex;
  padding-right: 1rem;
  position: relative;
}

.Header__username{
  height: auto;
  margin: auto;
  padding-right: .5rem;
}

.Header__avatar{
  max-height: 3rem;
  margin: auto;
  &:hover{
    // background: lighten($color_01, 20%);
    cursor: pointer;
  }
}

.Header__dropdown{
  background: white;
  border: 1px solid rgb(230, 230, 230);
  position: absolute;
  // width: $header_dropdown_menu_width;
  // left: calc(#{$header_dropdown_menu_width} * -1);
  padding: 1rem;
  top: $header_height;
}

.Header__arrow{
  @extend .Header__avatar;
  margin: auto .5rem;
}


.Header__avatar img{
  border-radius: 50%;

}
