.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color_01;
  color: white;
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header_height;

}

.Header__left{
  display: flex;
}

.Header__menu {
  padding: calc((#{$header_height}  - #{$header_menu_button_height}) /2) 1rem;
  &:hover{
    background: lighten($color_01, 20%);
    cursor: pointer;
  }
}

.Header__menu img{
  height: $header_menu_button_height;
}

.Header__title{
  margin: auto;
  padding-left: 2rem;
}



.Header__right{
  display: flex;
  padding-right: 1rem;
}

.Header__username{
  height: auto;
  margin: auto;
  padding-right: 1rem;
}

.Header__avatar{
  max-height: 3rem;
  &:hover{
    background: lighten($color_01, 20%);
    cursor: pointer;
  }
}

.Header__avatar img{
  border-radius: 50%;

}
