@import "./base/settings";
@import "./base/base";
@import "react-table.css";
@import "./components/Header";
@import "./components/SideBar";
@import "./components/CustomForm";
@import "./components/Page";

.Body{
  width: 100%;
}



//List styles

.table_header{
  font-size: $font_table_header;
  font-weight: bold;
}

.table_row{
  cursor: pointer;
  // &:hover{
  //   background: darken(white, 90%);
  // }
}
